In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
marketing_df = pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv')
m_df = marketing_df.copy()
numerical = m_df.select_dtypes(include=[np.number])

In [5]:
# ---------------------------------------------------------------------------------------------------------------
# 1. X-y split.

In [9]:
# X, y = np.split(numerical,[-1],axis=1)
y = numerical[['Total Claim Amount']]
X = numerical.drop(['Total Claim Amount'],axis=1)
display(X.head(3))
display(y.head(3))

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies
0,2763.519279,56274,69,32,5,0,1
1,6979.535903,0,94,13,42,0,8
2,12887.431650,48767,108,18,38,0,2

   Total Claim Amount
0          384.811147
1         1131.464935
2          566.472247

In [10]:
# ---------------------------------------------------------------------------------------------------------------
# 2. Normalize (numerical).

In [35]:
from sklearn.preprocessing import Normalizer
transformer = Normalizer().fit(X)
normalized_X = transformer.transform(X)

# normalized_X=(X-X.min())/(X.max()-X.min())
X_new = pd.DataFrame(normalized_X, columns = X.columns)
X_new

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies
0,0.049049,0.998795,0.001225,0.000568,0.000089,0.000000,0.000018
1,0.999889,0.000000,0.013466,0.001862,0.006017,0.000000,0.001146
2,0.255494,0.966808,0.002141,0.000357,0.000753,0.000000,0.000040
3,0.999865,0.000000,0.013862,0.002354,0.008500,0.000000,0.000915
4,0.064055,0.997944,0.001662,0.000273,0.001002,0.000000,0.000023
...,...,...,...,...,...,...,...
9129,0.309387,0.950935,0.000965,0.000238,0.001176,0.000000,0.000026
9130,0.141879,0.989876,0.003620,0.000641,0.001283,0.000000,0.000046
9131,0.999935,0.000000,0.010411,0.001102,0.004532,0.000367,0.000245
9132,0.324391,0.945913,0.004139,0.001466,0.000129,0.000000,0.000129
9133,0.998973,0.000000,0.029451,0.001147,0.034423,0.000000,0.000382

In [12]:
# just for checking porpuses
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X, y)
print("The regression score is: ", reg.score(X, y))
print("The regression coeficients are: ", reg.coef_)
print("The regression intercept value is is: ", reg.intercept_)

The regression score is:  0.5186628226558787
The regression coeficients are:  [[-6.74723453e-04 -3.29341526e-03  5.34254540e+00 -1.45721018e-01
  -1.02321926e-01 -1.37160695e+00  2.48565252e-01]]
The regression intercept value is is:  [72.39096819]