In [17]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
marketing_df = pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv')
m_df = marketing_df.copy()
numerical = m_df.select_dtypes(include=[np.number])

In [19]:
# ---------------------------------------------------------------------------------------------------------------
# 1. X-y split.

In [32]:
# X, y = np.split(numerical,[-1],axis=1)
Y = numerical[['Total Claim Amount']]
X = numerical.drop(['Total Claim Amount'],axis=1)
display(X.head(3))
display(y.head(3))

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies
0,2763.519279,56274,69,32,5,0,1
1,6979.535903,0,94,13,42,0,8
2,12887.431650,48767,108,18,38,0,2

   Total Claim Amount
0          384.811147
1         1131.464935
2          566.472247

In [7]:
# ---------------------------------------------------------------------------------------------------------------
# 2. Normalize (numerical).

In [33]:
normalized_X=(X-X.min())/(X.max()-X.min())
normalized_X.head()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies
0,0.010629,0.562847,0.033755,0.914286,0.050505,0.0,0.000
1,0.062406,0.000000,0.139241,0.371429,0.424242,0.0,0.875
2,0.134960,0.487763,0.198312,0.514286,0.383838,0.0,0.125
3,0.070589,0.000000,0.189873,0.514286,0.656566,0.0,0.750
4,0.011245,0.438443,0.050633,0.342857,0.444444,0.0,0.000

In [34]:
# just for checking porpuses
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X, y)
print("The regression score is: ", reg.score(X, y))
print("The regression coeficients are: ", reg.coef_)
print("The regression intercept value is is: ", reg.intercept_)

The regression score is:  0.5186628226558787
The regression coeficients are:  [[-6.74723453e-04 -3.29341526e-03  5.34254540e+00 -1.45721018e-01
  -1.02321926e-01 -1.37160695e+00  2.48565252e-01]]
The regression intercept value is is:  [72.39096819]